body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-green {
  background-color: #16a085;
}

.bg-gray {
  background-color: #ecf0f1;
}

span,
p,
strong,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #535c68;
}

.jumbotron {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
